<% @team ||= Team.new %>
<%= form_for @team do |f| %>
<form>
   <div class="row">
     <div class="large-4 columns">
      <label>Email: 
       <%= f.text_field :email, placeholder: 'Email' %>
    </label>
 </div>
</div>
<div class="row">
  <div class="large-4 columns">
   <label>Username: 
    <%= f.text_field :name, placeholder: 'Username' %>
 </label>
</div>
</div>
<div class="row">
  <div class="large-4 columns">
   <label>Location: 
    <%= f.text_field :location, placeholder: 'Location' %>
 </label>
</div>
</div>
<div class="row">
  <div class="large-4 columns">
   <label>Password:
    <%= f.password_field :password, placeholder: 'Password' %>
 </label>
</div>
<div class="large-4 columns">
   <label>Password confirmation:
    <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>
 </label>
</div>
<%= f.file_field :image %>
</div>

<%= f.submit %>
<% end %>
</form>