<div>
<h1 class="page-title"><%= @team.name %>'s profile page</h1>
</div>

<div id="profile">
<%= image_tag @team.image_url(:thumb) %>
<p>Email: <%= @team.email %> </p>
<p>Location: <%= @team.location %> </p>
</div>

<div>
<h2 class="page-title">Upcoming matches</h2>
</div>

<% @team.games.each do |game| %>
<div class="games">
	<div class="title"> <%= game.title %> </div>
	<p> Time: <%= game.pretty_booked_from %> TO <%= game.pretty_booked_till %> </p>
	<p> Place: <%= game.venue.name %> </p>
	<p> Address: <%= game.venue.address %> </p>
	<p> Teams Required: <%= game.required_teams %> </p>
	<h4 style="">Challengers</h4>
	<% game.challengers.each do |c| %>
	<%= link_to c.team.email, team_path(c.team.id) %><br/>
	<% end %>
</div>
<% end %>

