<h1 class="profile-title"><%= @user.email %> profile page</h1>


<%= image_tag @user.image_url(:thumb) %>
<p>Name: <%= @user.name %> </p>
<p>Location: <%= @user.location %> </p>

<%= link_to "Home", games_path %>


<h2>Upcoming matches</h2>

<ul class="small-block-grid-3">
	<% @user.games.each do |game| %>
		<li>
			<div class="games">
				<div class="title"> Title: <%= game.title %> </div>
				<p> Time: <%= game.pretty_booked_from %> TO <%= game.pretty_booked_till %> </p>
				<!-- <p> Place: <%#= game.venue.name %> </p> -->
				<!-- <p> Address: <%#= game.venue.address %> </p> -->
				<p> Teams Required: <%= game.required_teams %> </p>
			</div>
		</li>
		<% game.challengers.each do |c| %>
			<%= c.user.email %><br/>
		<% end %>
	<% end %>
</ul>

