<div class="page-title">
	<h1><%= @venue.name %> Venue</h1>
</div>

<div>
	<p class="page-title">Address: <%= @venue.address %> </p>
	<%= content_tag "div","", id: "map-canvas", data: {latitude: @venue.latitude.to_f, longitude: @venue.longitude.to_f} %>
</div>

<h2 class="page-title">Games in this venue</h2>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 text-center">
	<% @venue.games.each do |game| %>
	<% unless current_user.nil? %>
	<% if game.remaining_challengers > 0 %>
	<li>
		<div class="games">
			<% if game.is_owner(current_user) %><span class="round alert label">Your match</span><% end%>
			<p> <%= game.title %> </p>
			<p> BY: <%= link_to game.owner.team.name, team_path(game.owner) %> </p>
			<p>Time: <%= game.pretty_booked_from %> - <%= game.pretty_booked_till %> </p>
			<p>Teams Required: <%= game.required_teams %></p>
			Spots left: <% game.remaining_challengers.times do %>
			<img src="https://s3-us-west-2.amazonaws.com/kikomatchup/soccer.png">
			<% end %>
		</div>
		<% if game.is_owner(current_user) %>
		<%elsif game.is_challenger(current_user) %>
		<span style="font-size: 20px" class="success round label">MatchUP email sent</span>
		<% else %>
		<h3 class="challengers">Challengers</h3>
		<% game.challengers.each do |c| %>
		<%= link_to c.team.email, team_path(c.team.id) %><br/>
		<% end %>
		<%= button_to "MatchUP", players_path(:player => {team_id: current_user.id, game_id: game.id, is_owner: false }), {:class => "button round success matchup" } %>
		<% end %>
	</li>
	<% end %>
	<% end %>
	<% end %>
</ul>


