<h1 class="page-title"><%= @venue.name %> Venue</h1>

<div>
	<p class="page-title">Address: <%= @venue.address %> </p>
	<%= content_tag "div","", id: "map-canvas", data: {latitude: @venue.latitude.to_f, longitude: @venue.longitude.to_f} %>
</div>

<h2 class="page-title">Games in this venue</h2>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	<% @venue.games.each do |game| %>
	<li>
		<div class="games">
			<p class="page-title"><%= game.title %> BY: <%= link_to game.owner.email, team_path(game.owner) %> </p>
			<p>Time: <%= game.pretty_booked_from %> TO <%= game.pretty_booked_till %> </p>
			<p>Teams Required: <%= game.required_teams %></p>
			Spots left: <% game.challengers_count.times do %>
			<img src="<%= asset_path('soccer.png') %>">
			<% end %>
			<%= button_to "MatchUP", players_path(:player => {team_id: current_user.id, game_id: game.id, is_owner: false })%>
		</div>
	</li>
	<% end %>
</ul>


