<% @venue = Venue.find(1) %>
<% @venue.close_time.strftime("%I").to_i %>
<% @venue.open_time.strftime("%I").to_i %>

<% @game ||= Game.new %>
<%= form_for @game do |f| %>
<div>
	<%= f.label :title %> <br/>
	<%= f.text_field :title %>
</div>

<div>
	Venue: <%= collection_select(:game, :venue_id, Venue.all, :id, :name, prompt: true) %>
</div>

<div id='time_fields'>
	<%= f.time_select :booked_from, {start_hour: @venue.open_time.strftime("%k").to_i , end_hour: @venue.close_time.strftime("%k").to_i, minute_step: 30, ampm: true} %>
	<%= f.time_select :booked_till, {start_hour: @venue.open_time.strftime("%k").to_i , end_hour: @venue.close_time.strftime("%k").to_i, minute_step: 30, ampm: true} %>
</div>

<div>
	<%= f.label :required_teams %>
	<%= f.number_field :required_teams %>
</div>

<div>
	<%= f.submit %>
</div>
<% end %>