<h1>Main page</h1>

<button>Find nearby teams</button>

<p>Have a venue?</p>

<%= render 'form' %>

<h2>Available games</h2>
<% @games.each do |game| %>
	<p>Title: <%= game.title %> </p>
	<p>Time: <%= game.pretty_booked_from %> TO <%= game.pretty_booked_till %> </p>
	<p>Place: <%= game.venue.name %> </p>
	<p>Address: <%= game.venue.address %> </p>
	<p>Teams Required: <%= game.required_teams %> | Spots left: <%= game.required_teams %> </p>
<% end %>