<div class="games">
	<div> <h1 class="title"> <%= @game.title %> </h1></div>
	<p>Time: <%= @game.pretty_booked_from %> TO <%= @game.pretty_booked_till %> </p>
	<p> Place: <%= @game.venue.name %> </p>
	<p>Address: <%= @game.venue.address %> </p>
	<p>Teams Required: <%= @game.required_teams %></p>
	Spots left: <% @game.remaining_challengers.times do %>
	<img src="https://s3-us-west-2.amazonaws.com/kikomatchup/soccer.png">
	<% end %>
	<h3 class="challengers">Challengers</h3>
	<% @game.challengers.each do |c| %>
	<%= link_to c.team.name, team_path(c.team.id) %><br/>
	<% end %>
</div>