<!DOCTYPE html>
<html>
<head>
	<title>Matchup</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href=""><%= link_to "Home", home_path %></a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <% if current_user %>
      <ul class="right">
        <li><%= link_to "Edit Profile", edit_team_path(current_user.id) %></li>
        <li><%= link_to "Logout", :logout, method: :post %></li>
      </ul>
      <ul class="right">
        <li class="active"><%= link_to current_user.email, team_path(current_user) %></li>
      </ul>
      <ul class="left">
      <li><%= link_to "All Available games", games_path %></li>
        <li></li>
      </ul>
      <ul class="left">
        <li><button class="button round">Find nearby teams</button></li>
        <li></li>
      </ul>
      <ul class="left">
        <li>
          <div class="text-center">
            <div id="myModal" class="reveal-modal small" data-reveal>
              <div> <%= render 'games/form' %> </div>
              <a class="close-reveal-modal">&#215;</a>
            </div>

            <a href="" data-reveal-id="myModal">Have a venue?</a>

          </div>
        </li>
      </ul>
      <% else %>
      <ul class="right">
        <li>
          <div id="myModal" class="reveal-modal small" data-reveal>
            <div> <%= render 'teams/form' %> </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>

          <a href="" data-reveal-id="myModal">Register</a>
        </li>
        <li></li>
        <li><%= link_to "Login", :login, method: :get %></li>
      </ul>
      <% end %>
    </section>
  </nav>

  <!-- Left Nav Section -->
      <!-- <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul> -->

      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>

      <%= yield %>

    </body>
    </html>
